@tailwind base;
@tailwind components;
@tailwind utilities;


.markdown h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 12px;
  }
  
  .markdown p {
    margin-bottom: 16px;
    line-height: 1.7;
    color: #444;
  }
  
  .markdown ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 16px;
  }
  
  .markdown strong {
    font-weight: 600;
  }
  